# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build and Distribution
dist/
build/
*.egg-info/
*.spec

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
